*{
-webkit-box-sizing: border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
font-family: 'Raleway', sans-serif;
font-weight: 600;
}
body{
    margin: 50px;
}

.fa-star{
    color: #0065fc;
}
.star-grey{
    color: grey;
}
a{
    text-decoration: none;
    color: black;
  }

  img {
    max-width: 100%;
    max-height: 100%;
   }
/*header*/
header{
    display:flex;
    justify-content:space-between;
}
header nav a{
    color:grey;
    text-align: center;
    padding: 0px 25px 0px 25px; 
}
header a img{
    height:60px;
    width: 128px;
    }
nav a:hover{
    border-top:solid #0065fc 4px;
    color: #0065fc;
    padding-top:46px;
}
/* search */
input{
    border: none;
    padding:10px 0 10px 12px;  
}
input.buttom{
    background:#0065fc;
    border-radius:0 10px 10px 0px;
    color: white;
    padding:14px 15px 14px 15px;

}
input.search{
    background-color: white;
}
form{
    border-radius: 10px 0 0 10px;
    padding: 0px 0 0px 20px;
}
form i{
    background-color: lightgrey;
    padding: 15px;
    border-radius:   15px 0 0 15px;
    color: black;
    width: 50px;
    font: 900;
    text-align: center;
}
i.fa-solid.fa-location-dot::before{
    align-items: center;
}
/*filtres*/
.filtres{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.filtres h2{
    margin-right: 30px;
}
.list-filtres a{
    font-size: 21px;
    border: 2px solid lightgrey;
    padding: 11px 30px 11px 0px;
    border-radius: 25px;
    margin: 15px;
}
.list-filtres i{
    background-color: #c5dbfc;
    float:inline-start;
    padding: 14px;
    border-radius: 25px;
    width: 50px;
    font: 900;
}

section p i{
    font-weight: 900;
    font-size:x-small;
    border: lightgray solid 2px;
    padding: 3px 6px 3px 6px;
    border-radius: 20px;
    
}
.center{
    display: flex;
    flex-wrap: wrap;
}
/*hébergements*/


.hebergements{
    background-color: lightgrey;
    border-radius:30px;
    padding: 20px 10px 20px 10px;
}
.section_hebergements{
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.img-hebergements{
    height: 170px;
    position: relative;
    overflow: hidden;    

    padding-top: 3px;    
}

.img-hebergements img{
    width: 98%;
    position: absolute;
    left: 50%;   
    transform: translate(-50%, 0%);
    object-fit:cover;
    border-radius: 30px 30px 0 0px;
    
}
.figcaption-hebergements{
    width: 380px;
    padding-bottom: 15px;
    padding-left: 10px;
    box-sizing: border-box; 

    text-align: start;
}
figure{
    background-color: white;
    box-shadow: 0 4px 8px 0 grey;
    border-radius: 30px;
}
figure:hover {
    box-shadow: 0 8px 16px 0 grey;
}
.figure{
    width: 90%;    
}


/*populaires*/
.populaires{
    background-color: lightgray;
    border-radius: 30px;
    padding: 20px 10px 20px 10px;
 
}
.titre-populaires{
    padding: 20px 10px 0px 10px;
}
.section_populaires{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
 
}
.img-populaires img{
    object-fit:cover;
    border-radius: 30px 0px 0 30px;
    height: 170px;
    position: relative;
    overflow: hidden;    
    padding-top: 3px; 
        
}
.card-container{
 display: flex;
 flex-direction: row;
}
/*responsive*/
@media all and (min-width: 768px) and (max-width: 992px){
    .list-filtres{
        
}
@media all and (max-width: 768px){
    body{
        margin: 0;
    }
    header a{
        display: flex;
        justify-content: center;
    }
    header{
        flex-direction: column;
    }
    header nav{
        font-size:x-large;
        display: flex;
    }
    header nav a{
        border-bottom: 2px solid lightgray;
    }
    header nav a:hover{
        border-bottom: 2px solid #0065fc;
        border-top:0;
        color: #0065fc;
        padding-top:0px;   }
        /*filtres*/
        .filtres{
            display:;
        }
    }