* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.fa-creative-commons-sampling-plus:before {
    content: "\f4f1";
}

body {
    font-size: x-small;
    margin-right: auto;
    margin-left: auto;
    max-width: 95em;
}

main {
    margin: 20px;
}

.fa-star {
    color: #0065fc;
}

.star-grey {
    color: grey;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    font-size: medium;
}

h2 {
    font-size: small;
    font-weight: 700;
}

h3 {
    font-size: x-small;
    font-weight: 700;
}

figure {
    background-color: white;
    box-shadow: 0 4px 8px 0 grey;
    border-radius: 15px;
    margin: 0px 0px 20px 20px;
}

.bold {
    font-weight: 800;
}

/*header*/


header {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 10px;
}

header nav a {
    text-align: center;
    color: grey;
    padding: 0px 10px 0px 10px;
}

.logo img {
    width: 8em;
}

header nav {
    display: flex;
}

nav a:hover {
    border-top: solid #0065fc 3px;
    color: #0065fc;
    padding-top: 4.6em;
}

.lightweight {
    font-weight: 400;
}

h1 {
    font-weight: 700;
}

/* search */
.fa-magnifying-glass {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    width: 1px;
}

input {
    border: 0;
    font-weight: 700;
    font-size: medium;
}

input.buttom {
    background: #0065fc;
    border-radius: 0 10px 10px 0px;
    color: white;
    padding: 14px 15px 14px 15px;
}

input.search {
    background-color: white;
}

form {
    border-radius: 10px 0 0 10px;
}

form i {
    background-color: rgb(236, 236, 236);
    padding: 15px;
    border-radius: 15px 0 0 15px;
    color: black;
    width: 50px;
    font: 800;
    font-size: medium;
    text-align: center;
}

input form {
    overflow: hidden;
    position: relative;
}



i.fa-solid.fa-location-dot::before {
    align-items: center;
}

/*filtres*/
.list-filtres {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filtre-h3 h3 {
    margin:0 20px 0 0px;
    font-size: medium;
}

.filtres {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: small;
    flex-wrap: wrap;
}

.filtre {
    height: 2.8em;
    display: flex;
    align-items: center;
    margin-right: 20px;
    border: lightgray 2px solid;
    border-radius: 30px;
    position: relative;
}

.jauge-remplissage {
    transition: all 0.3s linear 0s;
    background: #c5dbfc;
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 30px;
}

.filtre:hover .jauge-remplissage {
    width: 100%;
}

.filtres i {
    transform: translate(-6px, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.7EM;
    height: 2.7EM;
    color: #0065fc;
    border-radius: 50%;
    background-color: #c5dbfc;
    font-size: small;
}

.filtre-texte {
    padding-left: 10px;
    padding-right: 15px;
    font-weight: 800;
}

.fa-info {
    width: 18px;
    font-weight: 800;
    font-size: x-small;
    border: lightgray solid 1px;
    padding: 3px 6px 3px 6px;
    border-radius: 20px;
    color: #0065fc;
}

.p-i {
    display: inline;
}

.center {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

/*hébergements*/


.hebergements {
    background-color: rgb(236, 236, 236);
    border-radius: 15px;
    padding-top: 15px;
    padding-right: 19px;
    max-width: 100%;
}

.hebergements h2 {
    padding: 0px 0 7px 20px;
}

.figcaption-hebergements h3 {
    font-weight: 800;
}

.figure figure {
    width: 17.34em;
    height: 13.79em;
}

.section_hebergements {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.img-hebergements {
    height: 8.11em;
    position: relative;
    overflow: hidden;
}

.img-hebergements img {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    object-fit: cover;
    border-radius: 15px 15px 0 0px;
    padding: 3px;
}

.figcaption-hebergements {
    width: 17.02em;
    padding-bottom: 15px;
    padding-left: 10px;
    line-height: 0.35;

}

figure:hover {
    box-shadow: 0 8px 16px 0 grey;
}

.afficher-plus {
    padding: 40px 0 0 20px;
    font-size: small;
}

/*populaires*/
.populaires {
    width: 28.9em;
    background-color: rgb(236, 236, 236);
    border-radius: 15px;
    padding: 15px 0px 0px 0px;
    margin-left: 20px;
}

.titre-populaires {
    padding: 0px 0px 0px 20px;
}

.titre-populaires h2 i {
    float: right;
    margin-right: 33px;
}

.figcaption-populaires h3 {
    font-weight: 800;
    font-size: 1.3em;
}

.section_populaires {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.img-populaires img {
    object-fit: cover;
    border-radius: 15px 0px 0 15px;
    height: 10.44em;
    width: 10.14em;
    position: relative;
    overflow: hidden;
    padding: 3px 10px 0px 3px;
}

.star-populaire {
    margin-top: 10px;
    top: 10px;
}

.card-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.fa-arrow-trend-up {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.stars {
    display: block;
    width: 100%;

}

.under-stars {
    bottom: 0;
}

/*activites a marseille*/

.activites {
    width: 90em;
    margin: 40px 0 30px 0;
    
}

.all-activites {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.under-all-activites {
    display: flex;
}

.card-activites1 {
    height: 30.93em;
}

.card-activites2 {
    height: 16.22em;
}

.card-activites3 {
    height: 12.67em;

}

.card-activites4 {
    height: 13.8em;
 
}

.card-activites5 {
    height: 15.41em;
    
}

.card-activites1 img {
    height: 27em;
    width: 20.78em;
    object-fit: cover;
    border-radius: 15px 15px 0 0px;
    position: relative;
    overflow: hidden;
}

.card-activites2 img {
    height: 12.57em;
    width: 20.78em;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    overflow: hidden;
}

.card-activites3 img {
    height: 8.72em;
    width: 20.78em;
    object-fit: cover;
    border-radius: 15px 15px 0 0px;
    position: relative;
    overflow: hidden;
}

.card-activites4 img {
    height: 10em;
    width: 20.78em;
    object-fit: cover;
    border-radius: 15px 15px 0 0px;
    position: relative;
    overflow: hidden;
}

.card-activites5 img {
    height: 11.46em;
    width: 20.78em;
    object-fit: cover;
    border-radius: 15px 15px 0 0px;
    position: relative;
    overflow: hidden;

}

.activites figcaption {
    padding: 10px 0 10px 10px;
    font-size: 1.2em;
    font-weight: 700;

}

/*footer*/
footer {
    background-color: rgb(236, 236, 236);
    display: flex;

}

footer article {
    font-weight: 800;
    line-height: 200%;
    margin-right: 120px;
    margin-left: 20px;
    margin-bottom: 20px;

}

footer article a {
    font-weight: 400;
}

/*responsive*/
@media all and (min-width: 768px) and (max-width: 992px) {
    body {
        overflow-x: hidden;
    }

    .container {
        max-width: 100%;
        overflow-x: hidden;
    }

    .all-activites {

        display: flex;
        flex-direction: column;


    }

    .under-all-activites {
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .center {
        flex-direction: column;

    }

    .section_heb {
        display: flex;
        flex-direction: column;
    }

    .section_hebergements {
        display: flex;
        justify-content: space-evenly;
    }

    .figure {
        display: flex;
        justify-content: space-evenly;
    }

    .populaires {

        width: 100%;
        margin: 20px 0 0 0;
    }

    .section_populaires {
        flex-direction: row;
        justify-content: space-around;
    }

    .figcaption-populaires {
        position: relative;
        font-size: smaller;
        padding-right: 5px;

    }

    .card-container {
        min-width: 21em;
    }

    .under-stars {
        position: absolute;
        bottom: 5px;
    }

    .hebergements {
        padding-bottom: 20px;
    }

    .card-activites1 {
        width: 20.79em;
        margin: 20px 0 0 0;

    }

    .card-activites2 {
        width: 20.79em;
        margin: 20px 0 0 0;
    }

    .card-activites3 {
        width: 20.79em;
        margin: 20px 0 0 0;
    }

    .card-activites4 {
        width: 20.79em;
        margin: 20px 0 0 0;
    }

    .card-activites5 {
        width: 20.79em;
        margin: 20px 0 0 0;
    }

    .all-activites {
        flex-direction: row;
        justify-content: space-around;
    }

    .activites {
        width: 100%;
    }
}

@media all and (max-width: 768px) {

    /* all body */


    form {
        max-width: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        max-width: 100%;
        position: absolute;
    }

    main {
        padding: 0;
        margin: 0;
        max-width: 900%;
    }

    h3 {

        font-size: large;
    }

    figure {
        border-radius: 20px;
    }

    body {
        position: absolute;
        margin-left: 0;
        margin-left: 0;
        max-width: 100%;
    }

    main {
        margin: 0;
        padding: 0;
    }

    /* header */
    .logo {
        text-align: center;
        padding: 30px 0 30px 30px;
    }
    .logo img{
        width:12em ;
    }

    header {
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2em;
    }

    header a {

        font-weight: 400;
    }

    header nav a:hover {

        border-top: 0;
        font-weight: 600;

    }

    header nav {

        justify-content: space-around;
        font-size: 2.5em;
    }

    .lien-header:hover {
        border-bottom: #0065fc 5px solid;

    }

    .lien-header {
        width: 50%;
        text-align: center;
        padding-left: 5%;
        padding-bottom: 1.7em;
        border-bottom: #c5dbfc 5px solid;
    }

    /* search */

    h1 {
        font-size: 4em;
        padding: 0 40px 0 30px;
    }

    section p {
        font-size: 3em;
        padding: 0 0px 0 30px;
        font-weight: 400;
    }

    .buttom {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        width: 1px;
    }

    .fa-location-dot {
        font-size: 1em;
        padding: 20px 45px 20px 20px;
    }

    .fa-magnifying-glass {
        font-size: x-large;
        background: #0065fc;
        color: white;
        padding: 20px 20px 20px 20px;
        border-radius: 15px;
        width: 2.9em;
        height: 2.9em;
        position: relative;
        text-align: center;

    }


    input.search {
        padding: 10px 10px 30PX 10px;

    }

    form {
        font-size: 3em;

    }

    form i {
        padding: 30px 30px 30PX 30px;
    }

    .input {
        text-align: center;

    }

    .fa-info {
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: x-large;
        border: lightgray solid 1px;
        padding-top: 5px;
        border-radius: 20px;
        color: #0065fc;

    }

    .fa-info-after {}

    /* filtre */
    .list-filtres {
        font-size: 2em;

    }

    .filtres h3 {
        font-size: 3.5em;
        font-weight: 800;
        margin: 0;

    }

    .filtres {
        margin: 30px;
    }

    .filtre {
        margin: 15px;
    }


    .filtre i {
        color: #0065fc;
        font-size: 1em;
        border-radius: 50%;
        padding: 12px 35px 12px 35px;

    }

    /*card centre*/
    .center {
        flex-direction: column;
    }

    /* populaire */
    .fa-arrow-trend-up {
        border-left: 4px solid black;
        border-bottom: 4px solid black;
    }

    .populaires h2 {
        font-weight: 800;
        font-size: 2em;
    }

    .under-stars {

        padding-bottom: 20px;
    }

    .populaires {
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
        font-size: 2em;
    }

    .section_populaires figure {
        font-size: 1.2em;
        border-radius: 50px 50px 50px 50px;
    }


    .img-populaires img {
        height: 15em;
        width: 15em;
        padding: 10px 10px 5px 10px;
        border-radius: 50px 0px 0px 50px;
    }

    .figcaption-populaires {
        position: relative;
        height: 15em;

    }

    .under-stars {
        position: absolute;
        bottom: 0;
    }

    /* hebergement */

    .section_hebergements {
        flex-direction: column;
        width: 100%;

    }

    .hebergements {
        order: 2;
        padding: 0;
        background-color: white;
    }

    .hebergements {
        background-color: white;
        border-radius: 50px;
        padding-top: 15px;
        padding-right: 19px;

    }


    .hebergements h2 {
        font-size: xx-large;
        padding: 20px 0 7px 20px;
    }

    .figcaption-hebergements h3 {
        font-weight: 800;
    }

    .figure figure {
        width: 100%;
        height: 31.5em;
    }

    .section_hebergements {
        display: flex;
        width: 100%;
        margin: 0 auto;
        padding-right: 20px;
    }

    .img-hebergements {
        height: 22em;
        position: relative;
        overflow: hidden;
    }

    .img-hebergements img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        object-fit: cover;
        border-radius: 20px 20px 0 0px;
        padding: 7px;
    }

    .figcaption-hebergements {
        width: 100%;
        padding-bottom: 15px;
        padding-left: 15px;
        line-height: 0.35;
        font-size: medium;
    }



    /* activites */
    .tittre-activites h2 {
        font-size: xx-large;
        padding-left: 20px;
        font-weight: 800;
    }

    .all-activites {
        flex-direction: column;
    }

    .under-all-activites {
        flex-direction: column;
    }

    .activites {
        width: 100%;
        margin: 0;
    }

    .card-activites1 img,
    .card-activites2 img,
    .card-activites3 img,
    .card-activites4 img,
    .card-activites5 img {
        height: 22em;
        width: 100%;
    }

    .card-activites1,
    .card-activites2,
    .card-activites3,
    .card-activites4,
    .card-activites5 {
        height: 30.5em;
        margin: 0px 20px 20px 20px;
    }

    .activites figcaption {
        font-size: x-large;
        padding-top: 25px;
        font-weight: 800;
    }


    /* footer */
    footer {
        padding-top: 20px;
        flex-direction: column;
        font-size: xx-large;
    }

    footer h3 {
        font-size: xx-large;
        font-weight: 800;
    }
}